body {
padding-top: 20px;
padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 700px;
}
.container-narrow > hr {
margin: 30px 0;
}

#news { margin: 1.5em auto 0.5em 0.5em; width: 80%; border-bottom: 1px solid transparent; padding-bottom: 1em;}


