{% extends "base.html" %}
{% load newstags %}
{% block page_style %}
<style type="text/css">
    /* Main marketing message and sign up button */
    .jumbotron {
    margin: 60px 0;
    text-align: center;
    }
    .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    }
    .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    }

    /* Supporting marketing content */
    .marketing {
    margin: 60px 0;
    }
    .marketing p + h4 {
    margin-top: 28px;
    }
</style>
{% endblock %}

{% block maincontent %}

    <hr>

    <div class="jumbotron">
        <img src="{{ STATIC_URL }}banner.png" width="690px;"/>
        <!--
        <h1>Super awesome marketing speak!</h1>
        -->
    <p class="lead">Snižte Vaše náklady na osvětlení až o 90%! Naše úsporné LED světlo v různé barvě a intenzitě až s pětiletou zárukou, to dokáže. </p>
    <a class="btn btn-large btn-success" href="#">Dozvědět se více..</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
    <div class="span12">
        <div id="news_tag">{% news_tag 3 %}</div>

    </div>

    </div>

{% endblock %}
